<h1>Sobre</h1>

<p>
    O intuito é incentivar as pessoas a se exercitarem. São sugestões de atividades que podem ser realizadas dentro de casa. O programa foi elaborado por profissionais de educação física e consta séries de vídeos curtos, acompanhados de informativos com sequências e orientações de cada atividade.

     a ideia é estimular e orientar as pessoas a permanecerem fisicamente ativas, inclusive na residência, respeitando eventuais contraindicações específicas e evitando, por prudência, atividades de alta intensidade.
    
    “As atividades propostas foram planejadas para a execução ser feita em casa, mesmo com espaço limitado e sem equipamento especial.
</p>