<h1>Sobre</h1>

<p>
    O princípio é o mesmo dos contatos salvos na agenda do seu celular. Quando precisa ligar ou mandar mensagem para alguém, é só você buscar a informação na sua agenda, neste caso o número da pessoa.
</p>